.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #4b4b4b;
  color: white;
}

.userItem p {
  margin: 0;
  padding: 0.5rem 0;
}

.name {
  font-weight: bold;
}
